<h1>New User Account</h1>

<form action="/users" method="post">
  <div class="form-group">
    <label for="user_username">Username</label>
    <input type="text" name="user[username]" id="user_username" class="form-control">
  </div>

  <div class="form-group">
    <label for="user_email">Email</label>
    <input type="email" name="user[email]" id="user_email" class="form-control">
  </div>

  <div class="form-group">
    <label for="user_password">Password</label>
    <input type="password" name="user[password]" id="user_password" class="form-control">
  </div>

  <button type="submit" class="btn btn-primary">Signup</button>
</form>
