<h1>New Place</h1>

<form action="/places" method="post">
  <div class="form-group">
    <label for="place_name_input">Name</label>
    <input type="text" name="place[name]" id="place_name_input" class="form-control">
  </div>

  <button type="submit" class="btn btn-primary">Save</button>
</form>